.table {
    margin: 50px 20px 0px 20px;
    border: 0px;
    color: #103bb7eb;
    border-spacing: 20px;
}
.table td {
    border-top: 0px;
}
#back {
    margin: 20px 0px 0px 20px;
    width: 100px;
    cursor: pointer;
}
#register {
    margin: 20px 25px 0px 20px;
    float: right;
    width: 100px;
    cursor: pointer;
}
textarea.memo {
    resize: none;
}
.form-control {
    width: 98%;
    color: #103bb7eb;
}
.form-control.dateInput {
    width: 40%;
}
body.register-form {
    background: rgba(0, 0, 0, 0) url("https://www.toptal.com/designers/subtlepatterns/patterns/sakura.png") repeat scroll 0% 0%;
}
form.form-group {
    width: 99%;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

select {
    color: #103bb7eb;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 0;
}
  