<form [formGroup]="registerForm" class="form-group" (ngSubmit)="onSubmit()">
    <button id="back" class="btn btn-danger" (click)="navigateToUserList()">戻る</button>
    <button id="register" type="submit" class="btn btn-success"
        [disabled]="!registerForm.valid && !registerForm.touched">登録</button>
    <input type="hidden" th:field="*{id}" />
    <table class="table">
        <input id="id" class="form-control" type="hidden" formControlName="id" [(ngModel)]="user.id">
        <tr>
            <td>
                <label for="name">名前</label>
            </td>
            <td>
                <input id="name" class="form-control" type="text" formControlName="name" required
                    [(ngModel)]="user.name">
            </td>
        </tr>
        <tr>
            <td>生年月日</td>
            <td>
                <div class="row">
                    <input type="text" class="form-control dateInput" bsDatepicker formControlName="birthday"
                        #birthday="bsDatepicker" required [(ngModel)]="user.birthday"
                        [bsConfig]="bsBirthdayDateConfig">
                </div>
            </td>
        </tr>
        <tr>
            <td>専門</td>
            <td>
                <select formControlname="department_id" (change)="updateDepartmentValue($event)" required>
                    <option [disabled]="true" value=""></option>
                    <option *ngFor="let department of departmentList$ | async" [value]="department.id"
                        [selected]="user.department_id === department.id ? user.department_id : null">
                        {{department.name}}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td id="memo">メモ</td>
            <td>
                <textarea class="form-control memo" rows="6" cols="100" maxlength="100" formControlName="memo"
                    [(ngModel)]="user.memo"></textarea>
            </td>
        </tr>
    </table>
</form>