.table {
    width: 98%;
    margin: 10px 50px 10px 20px;
}

.table-hover tbody tr:hover {
    color: #fb1289;
}

.btn-info:hover {
    color: #0dee40;
}

.btn-danger:hover {
    color: #1d0df5;
}
.btn-warning:hover {
    color: #d90d0d;
}
.delete-dialog {
    color: darkblue;
    background-color: darkorange;
}
#toRegister {
    width: 100px;
    float: right;
    margin-bottom: 1%;
    cursor: pointer;
}

.insideBtn {
    margin: 2px 0px 2px 2px;
    width: 48%;padding: inherit;
    cursor: pointer;
}

thead {
    color: white;
    background-color: #007bff;
}