<div class="panel-body">
    <button id="toRegister" (click)="createNewUser()" class="btn btn-primary">新規作成</button>
    <br>
    <table class="table table-hover table-striped">
        <thead class="table-head">
            <tr>
                <td>ID</td>
                <td>名前</td>
                <td>生年月日</td>
                <td>部門名</td>
                <td></td>
            </tr>
        </thead>
        <tr *ngFor="let user of userList | async">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.birthday}}</td>
            <td>{{user.department_name}}</td>
            <td>
                <button class="btn btn-warning insideBtn" (click)="updateUser(user.id)">編集</button>
                <button class="btn btn-danger insideBtn"
                    (click)="deleteUserDialog(user.id, user.name, template)">削除</button>
                <ng-template #template>
                    <div class="modal-body text-center">
                        <p>{{message}}</p>
                        <button type="button" class="btn btn-success" (click)="confirm(user.id)">削除</button>
                        <button type="button" class="btn btn-danger" (click)="decline()">キャンセル</button>
                    </div>
                </ng-template>
            </td>
        </tr>
    </table>
</div>